<div class="container-fluid">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
    <agm-marker *ngFor="let lugar of places" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
  </agm-map>
  <hr>
  <div class="container">

    <div class="">

      <div class="col-lg-4">
        <div class="col-xs-6">
          <label class="label-control">Filas en la página</label>
          <select class="form-control " [(ngModel)]="rowsOnPage">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <label class="col-xs-12 label-control">Ordenar por</label>
          <div class="col-xs-6">
            <select class="form-control input-sm" [(ngModel)]="sortBy">
              <option ngValue="name">Nombre</option>
              <option ngValue="email">Email</option>
              <!-- <option ngValue="age">Age</option>-->
              <option [ngValue]="sortByWordLength">Ciudad</option>
            </select>
          </div>
        </div>
        <div class="col-lg-4">
          <label class="col-xs-12 label-control">Ordenar por</label>
          <div class="col-xs-6">
            <select class="form-control input-sm" [(ngModel)]="sortOrder">
              <option ngValue="asc">Ascendente</option>
              <option ngValue="desc">Descendente</option>
              <!--<option ngValue="badValue">Bad value</option>-->
            </select>
          </div>
        </div>
      </div>


      <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
          <tr>
            <th style="width: 10%"></th>
            <th style="width: 20%">
              <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
            </th>
            <th style="width: 40%">
              <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="age">Edad</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter [by]="sortByWordLength">Ciudad</mfDefaultSorter>
            </th>
          </tr>
          <tr>
            <th colspan="5">
              Filtrar por nombre:
              <input class="form-control" [(ngModel)]="filterQuery" />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>
              <button (click)="remove(item)" type="button" class="btn btn-danger" style="background: rgb(187, 5, 5);">x</button>
              <button (click)="update(item)" type="checkbox" class="btn btn-success" style="background: rgb(3, 110, 3);">
                <i class="fa fa-check" aria-hidden="true"></i>
              </button>
            </td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td class="text-right">{{item.age}}</td>
            <td>{{item.city | uppercase}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
