<div *ngIf="_ns.visible" id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a [routerLink]="['/dashboard']">
        Mi Zona
        <img src="./assets/imagen/logo_simbolo60x60fondonegro.png" height="50" width="50" alt="Descuento">

      </a>
    </li>
    <li>
      <a [routerLink]="['/dashboard']" routerLinkActive="active">
        Tablero
        <i class="fa fa-tachometer" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a [routerLink]="['/profile']" routerLinkActive="active">Perfil
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>

    </li>
    <!--<li>
      <a [routerLink]="['/storerecord']">Listado de Almacenes
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
      </a>
    </li>-->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ALMACENES
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" [routerLink]="['/storerecord']" routerLinkActive="active">Registro de tienda</a>
        <a class="dropdown-item" [routerLink]="['/storequery']" routerLinkActive="active">Consulta de tienda</a>
      </div>
    </li>
    <li>
      <a [routerLink]="['/promotion']" routerLinkActive="active">Promoción %
      </a>
    </li>
    <li>
      <a [routerLink]="['/map']" routerLinkActive="active">MAPs
        <i class="fa fa-map" aria-hidden="true"></i>

      </a>
    </li>
    <li>
      <a [routerLink]="['/notifications']" routerLinkActive="active">Notificaciones
        <i class="fa fa-bell-o" aria-hidden="true"></i>
      </a>
    </li>
    <!-- <li>
      <a [routerLink]="['/']">Services</a>
    </li>-->
    <li>
      <a [routerLink]="['/contact']" routerLinkActive="active">Contacto
        <i class="fa fa-phone" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a [routerLink]="['/']" (click)="logout()">Salir
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
