<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Editar Perfil</h4>
            <p class="category">Completa tu perfil</p>
          </div>
          <div class="card-content">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" role="form">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Compañia</label>
                    <input [(ngModel)]="profile.company" name="company" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Usuario</label>
                    <input [(ngModel)]="profile.username" name="username" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Email</label>
                    <input [(ngModel)]="profile.email" name="email" type="email" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Nombres</label>
                    <input [(ngModel)]="profile.name" name="name" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Apellidos</label>
                    <input [(ngModel)]="profile.surnames" name="surnames" type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Dirección</label>
                    <input [(ngModel)]="profile.address" name="address" type="text" class="form-control">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Ciudad</label>
                    <input [(ngModel)]="profile.city" name="city" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Pais</label>
                    <input [(ngModel)]="profile.country" name="country" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="control-label">Código postal</label>
                    <!--<input [(ngModel)]="profile.postalCode" name="postalCode" type="text" class="form-control">-->
                    <input name="name" [(ngModel)]="profile.postalCode" name="postalCode" type="text" class="form-control" placeholder="Introduzca su nombre">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Sobre mi</label>
                    <div class="form-group form-black label-floating is-empty">
                      <!-- <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>-->
                      <textarea [(ngModel)]="profile.about_me" class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-danger pull-right">Actualización del perfil</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="../assets/img/faces/marc.jpg" />
            </a>
          </div>

          <div class="content">
            <!-- <h6 class="category text-gray">CEO / Co-Founder</h6>-->
            <!--<h4 class="card-title">Alec Thompson</h4>-->
            <p class="card-content">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
              I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>